@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
* {
    margin: 0%;
  }
#header {
    background-size: cover;
    height: 30vh;
}
ul {
    font-family: "Montserrat", sans-serif;
}
h1 {
    font-size: 40px;
    color: black;
    font-family: "Montserrat", sans-serif;
}
  .nav-container {
    display: flex;
    max-width: 1660px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }
  
  .nav-links {
    color: white;
    display: flex;
    gap: 40px;
    font-size: 25px;
    list-style: none;
}
.btnCars {
    background-color: transparent;
    font-size: 50px;
    border-radius: 10px;
    padding: 0px 10px;
    border: 1px solid black;
}
.hero-section {
    max-width: 1660px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 19vh;
}
.grayPlace {
    width: 100%;
    background-color: #F1F5F8;
}

.Home{
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.about {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
  .admin {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
.Prodcut {
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.conpN {
    font-size: 50px;
    font-family: "Charm", cursive;
    color: black;
}
.bigBox {
    padding-top: 100px;
    max-width: 1660px;
    margin: auto;
    display: flex;
}
.table {
    margin: auto;
    width: 1660px;
}
table , th , td {
    border: 2px solid burlywood;
    border-collapse: collapse;
    text-align: center;
}
th {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}
td {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}
.editModal {
    margin: auto;
    width: 400px;
    height: 320px;
    font-size: 30px;
}
.info {
    margin: auto;
    width: 260px;
    height: 200px;
    text-align: center;
    font-size: 30px;
}
.save {
    padding: 2px 20px;
    font-size: 20px;
    background-color: forestgreen;
}
.concel {
    padding: 2px 20px;
    font-size: 20px;
    background-color: red;
}
.Concel {
    padding: 2px 20px;
    font-size: 20px;
    background-color: red;
}
.AddModal {
    margin: auto;
    width: 400px;
    height: 320px;
    font-size: 30px;
}
.burger {
    background-color: transparent;
    font-size: 40px;
    border: none;
    color: black;
    display: none;
  }
  
  .aboutBurger {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
  .adminBurger {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
  .HomeBurger {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
  .ProdcutBurger {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
@media(max-width: 430px){
    .nav-links {
      display: none;
    } 
    .burger {
      display: inline;
    }
    #header {
      padding: 5px;
    }
    .boxHome {
      flex-direction: column;
      gap: 20px;
    }
    .table {
        margin: auto;
        width: 160px;
    }
    th {
        font-size: 16px;
    }
    td {
        font-size: 15px;
    }
}